body {
    margin: 10%;
    font-size: 15 pt;
}

h2 {
    color: darkorange;
}

h3 {
    margin: 1rem;
}

p {
    margin: 1rem;
}

.directions {
    font-size: 17pt;
}

#title {
    font-size: 30pt;
}